<!doctype html>
<html lang="en" class="h-100">
  <%- include('../partials/head')%>
  <body class="d-flex h-100 text-center text-dark bg-white">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../partials/header')%>
      
    
      <main role="main" class="inner cover">
        <div class="container">
          <h1 class="cover-heading">We could not find that page.</h1>
        <p class="lead">Seems somethings is wrong with your URL.</p>
        <p class="lead">
          <a href="/" class="btn btn-lg btn-secondary fw-bold border-white bg-primary">Go Back Home</a>
        </p>
    
        </div>
      </main>
    
      <%- include('../partials/footer')%>
    </div>
  </body>
    



    
 
</html>
