<!doctype html>
<html lang="en" class="h-100">
  <a%- include('../partials/head')%>
  <body class="d-flex h-100 text-center text-dark ">
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="https://wpklik.com/wp-content/uploads/2019/03/A-404-Page-Best-Practices-and-Design-Inspiration.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Page Not Found</h1>
          <p class="lead">The page you are trying to load could not be found.
            <br> Check the link address
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a href="/" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Go Home</a>
            </div>
          </p>
        </div>
      </div>
    </div>
      </main>
    
    </div>
  </body>     
</html>
