<!doctype html>
<html lang="en" class="h-100">
  <%- include('../partials/head')%>
  <body class="d-flex h-100 text-center text-dark bg-white">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../partials/header')%>
      
    
      <main role="main" class="inner cover">
        <div class="container">
          <h1 class="cover-heading">Welcome to Wordy .</h1>
        <p class="lead">Wordy is a mini blog that is built with NodeJS on top of the express framework. Wordy allows anyone, like you, to publish post without requiring validation.</p>
        <p class="lead">
          <a href="/posts/new_post" class="btn btn-lg btn-secondary fw-bold border-white bg-primary">Publish Post</a>
        </p>
    
        </div>
      </main>
    
      <%- include('../partials/footer')%>
    </div>
  </body>
    



    
 
</html>
 