<!doctype html>
<html lang="en">
  <%- include('../partials/head')%>
  
  <body class="text-center">
    <div class="container py-3">
        <%- include('../partials/header')%> 
    </div>
    <main>
        <div class="container py">
            <form action="/signup" method="post">
              <!-- <img class="mb-4"  src="./images/person-hearts.svg" alt="" color="#0000CD" width="72" height="57"> -->
              <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
              
        
              <div class="mb-3 row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                  <input type="text" 
                  class="form-control" 
                  id="username" 
                  name="username">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="email" class="col-sm-2 col-form-label">E-Mail</label>
                <div class="col-sm-10">
                  <input 
                  type="e-mail" 
                  class="form-control"
                  id="email" 
                  name="email"
                  />
                </div>
              </div>
              <div class="mb-3 row">
              <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input 
                  type="password" 
                  class="form-control"
                  id="password" 
                  name="password"
                  />
                </div>
          
              <button class="w-10 mb-3 mt-3 btn btn-lg btn-primary" type="submit">Sign up</button>
              <p>Already have an account? <a href="/signin">Sign in </a></p>
              <footer class="pt-3 mt-4 text-muted">2022
                &copy;IfeOluwa  <a href="https://mobile.twitter.com/ifejaye" >Twitter</a>
              </footer>    
            </form>
          </div>
    </main>
      <%- include('../partials/footer')%>
  </body>
</html>
